<div class="container">
    <app-search-bar></app-search-bar>
    <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item >
          <img matListItemAvatar src="https://scontent.fktw4-1.fna.fbcdn.net/v/t1.6435-9/70312293_146813199859707_6341563987578060800_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=ZtEJt7O1nmUQ7kNvgFzSYVe&_nc_ht=scontent.fktw4-1.fna&oh=00_AYBnJuPtNzimFOAGxLl8M_kQ8INTUhBtYufR9fugCgOZxw&oe=66E9720C">
          <div matListItemTitle>Madryciarz</div>
          <div matListItemLine>visca barca</div>
          <div matListItemMeta>15:31</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
</div>

