<div class="container">
    <app-navbar></app-navbar>

    <div class="messages">
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>
        <app-user-message></app-user-message>


    </div>
    <div class="inputContainer">
        <input matInput placeholder="Napisz wiadomość..." type="text">
               <mat-icon>keyboard_arrow_up</mat-icon>
    </div>

</div>