<div class="container">
    <div class="login">

        <form>
            <mat-form-field class="custom-input">
              <mat-label>Email</mat-label>
              <input type="email" matInput>         
            </mat-form-field>
        </form>

        <form>
            <mat-form-field class="custom-input">
              <mat-label>Hasło</mat-label>
              <input type="text" matInput>         
            </mat-form-field>
        </form>
        <button mat-button disabled class="custom-button">Zaloguj się</button>
        <p class="info">Nie masz konta? <a href=""> Zarejestruj się</a></p>
    </div>
</div>