.container {
    display: flex;
    margin: 0.5rem 1rem;
    align-items: center;
  
    p {
      box-shadow: 0 0 5px rgb(14, 14, 14);
      padding-inline: 1em;
      padding: 0.5em 1em;
      border-radius: 1.5rem;
      max-width: 75%;
      word-break: break-word;
    }
  
    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 1rem;
      border-radius: 50%;
      object-fit: cover;
    }
  
    &.owner {
      flex-direction: row-reverse;
  
    }
  }
  