<div class="container owner ">
    <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFIpU4nDOSCE7gB1EY8onN7-QtU1_uf-e9KA&s" alt="">
    <p>To jest wiadomość !!!</p>
</div>

<!-- for image messages -->

<!-- <div class="container ">
    <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFIpU4nDOSCE7gB1EY8onN7-QtU1_uf-e9KA&s" alt="">
    <img class="imageMessage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFIpU4nDOSCE7gB1EY8onN7-QtU1_uf-e9KA&s" alt="">
</div> -->