<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content">
      <mat-nav-list>
        <li mat-list-item class="nav-item">
          <div *ngIf="userCredential">
            <img class="profilePhoto" 
                 [src]="userCredential?.photoURL || 'https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg'" 
                 alt="User Photo" />
          </div>
          
        </li>
        <li mat-list-item class="nav-item">
          <mat-icon>forum</mat-icon>
        </li>
        <li mat-list-item class="nav-item">
          <mat-icon>group</mat-icon>
        </li>
        <li mat-list-item class="nav-item">
          <mat-icon>settings</mat-icon>
        </li>
        <a routerLink="/Login">
        <li mat-list-item class="nav-item">
            <mat-icon>logout</mat-icon>
          </li>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
</mat-sidenav-container>