<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-content">
      <mat-nav-list>
        <li mat-list-item class="nav-item">
          <mat-icon>account_circle</mat-icon>
        </li>
        <li mat-list-item class="nav-item">
          <mat-icon>forum</mat-icon>
        </li>
        <li mat-list-item class="nav-item">
          <mat-icon>group</mat-icon>
        </li>
        <li mat-list-item class="nav-item">
          <mat-icon>settings</mat-icon>
        </li>
      </mat-nav-list>
    </div>
  </mat-sidenav>
</mat-sidenav-container>